{% extends 'base.html.twig' %}

{% block title %}Administración{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <img src="{{ asset('assets/images/logo eurobox.jpg') }}">
        </div>
        <div class="col">
            <div class="text-right">
                <h5>{{user.email}}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">



            <h4><i class="fas fa-user-shield"></i> Control de Usuarios</h4>
            <h4></h4>
            <br>
            <h4><i class="far fa-clock"></i> Informes de marcajes y tiempos</h4>
            <h4></h4>
            <h4><i class="fas fa-users-cog"></i> Operarios registrados</h4>


        </div>
        <div class="col">
        </div>
    </div>
    


{% endblock %}
