{% extends 'base.html.twig' %}

{% block title %}Recuperación{% endblock %}

{% block body %}


<div class="container">

    <div class="row justify-content-between">

        <div class="column-6">
            <h4 class="text-danger"><i class="fas fa-box-open"></i> SEMIELABORADO</h4>
            <h4 class="txt-light">{{ semi.Id }} | {{ semi.sSemi }}</h4>
        </div>        


        <div class="column-6 text-right">
            <a href="" class="btn btn-light btn-lg">
                <i class="fa fa-edit" aria-hidden="true"></i> Seleccionar otro
            </a>
        </div>        

    </div>

</div>


{% endblock %}