{% extends 'base.html.twig' %}

{% block title %}Recuperación{% endblock %}

{% block body %}



<form class="form-inline" action="" method="post">

    <div class="form-group">
        <h4><i class="fa fa-box-open" aria-hidden="true"></i> SEMIELABORADO &nbsp;&nbsp;</h4> 
        <input type="text" name="id" id="id" class="form-control-lg" placeholder="Código"s>
        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-light btn-lg"> Buscar </button>  
    </div>



</form>


{% endblock %}