{% extends 'base.html.twig' %}

{% block title %}S|{{ semi.id }}{% endblock %}

{% block main %}

<h4 class="text-danger"><i class="fas fa-box-open"></i> {{ semi.id }} | {{ semi.SSemi }}</h4>

<br>
<br>

{% endblock %}
