{% extends 'base.html.twig' %}

{% block title %}SUB Tareas{% endblock %}

{% block body %}

    <div class="row">

        <div class="col sm-6">

            <table class="table table-striped table-dark table-hover js-tareas-table">

                <thead class="thead-dark">
                    <tr>
                        <th>Seleccione TAREA</th>
                    </tr>
                </thead>
        
                <tbody>
                {% for tarea in tareas %}
                    
                    <tr class="table-light">

                        <td>
                            <a href="{{ path('index_subtareas', {id: tarea.id}) }}">
                                <h6>{{tarea.tarea}}</h6>
                            </a>
                        </td>
                
                    </tr>
                    
                {% endfor %}
                </tbody>
        
            </table>
        
        </div>
        
        <div class="col sm-6">

                <table class="table table-striped table-dark table-hover js-tareas-table">

                        <thead class="thead-dark">
                            <tr>
                                <th class="text-warning">Seleccione SUB Tarea</th>
                            </tr>
                        </thead>
                
                        <tbody>
                        {% for subtarea in subtareas %}
                            
                            <tr class="table-light">
        
                                <td>
                                    <a href="{{ path('confirm_subtarea', {id: subtarea.id}) }}">
                                        <h6 class="text-warning">{{subtarea.tareasub}}</h6>
                                    </a>
                                </td>
                        
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                
                    </table>
        
        

        </div>            

    
    
    </div>

{% endblock %}
