{% extends 'base.html.twig' %}

{% block title %}PANEL{% endblock %}


{% block main %}

{{ include('default/_credentials.html.twig') }}


<div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
        <h4><i class="fas fa-box"></i> <a href="{{ path('recupera_trabajo') }}">RECUPERACIÓN de PALETS de Artículos</a></h4>
    </div>
    <div class="col-2">
    </div>  
</div>

<br>
<br>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
        <h4><i class="fas fa-box-open"></i> <a href="{{ path('recupera_semi') }}">RECUPERACIÓN de PALETS de Semielaborados</a></h4>
    </div>
    <div class="col-2">
    </div>       
</div>


{% endblock %}